@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sen:wght@400;500;600;700;800&display=swap');


:root {
  --font-alt: 'Plus Jakarta Sans', sans-serif;
  --font-main: 'Sen', sans-serif;
}

* {
  font-family: var(--font-main);
  box-sizing: border-box;
  /* transition: all 0.3s linear; */
}

html {
  margin: 0;
  width: 100%;
  font-size: 16px;
  background-position: 100%;
  background-size: cover;
  background-size: 1rem 1rem;
  background-color: rgb(248, 249, 250);
  background-image: radial-gradient(circle, rgb(222, 226, 230) 1px, rgba(0, 0, 0, 0) 1px);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  /* background-color: transparent; */
  background-color: #ffffff7e;
}

body > main.main {
  /* border: 1px solid #404040; */
  width: 80%;
  display: flex;
  flex-flow: row;
  gap: 0;
}


body > main.main > section.sidebar {
  border-right: 1px solid #80808027;
  padding: 20px 0 0 0;
  min-height: 100vh;
  width: max-content;
  display: flex;
  flex-flow: column;
  gap: 0;
}

body > main.main > section.sidebar > .head {
  /* border: 1px solid #404040; */
  margin: 0 0 20px 0;
  display: flex;
  /* align-items: center; */
  justify-content: start;
  gap: 0;
}

body > main.main > section.sidebar > .head > .logo {
  /* border: 2px solid rgb(175, 84, 84); */
  max-height: max-content;
  position: relative;
  padding: 0;
  display: flex;
  flex-flow: column;
}

body > main.main > section.sidebar > .head > .logo  span.bar{
  display: none;
  position: absolute;
  top: calc(50% - 10px);
  /* bottom: 0; */
  right: 0;
  width: 5px;
  height: 20px;
  background:  rgb(223, 121, 26);
  background: linear-gradient(0deg, rgb(223, 121, 26) 0%, rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
  border-radius: 15px;
}

body > main.main > section.sidebar > .head > .logo  h2{
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #404040;
  font-family: var(--font-alt);
}

body > main.main > section.sidebar > .head > .logo  span.art{
  margin: 0;
  width: 100%;
  color: #808080;
  line-height: 1.2;
  font-family: var(--font-alt);
  letter-spacing: 4px;
  font-weight: 700;
  text-align: center;
}

body > main.main > section.sidebar > .menu {
  width: 80%;
  padding: 0 0 10px 0;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: start;
  gap: 5px;
}

body > main.main > section.sidebar > .menu.second {
  border-top: 1px solid #80808017;
  padding: 10px 0 10px 0;
}

body > main.main > section.sidebar > .menu > span.title {
  /* border: 2px solid rgb(175, 84, 84); */
  padding: 0 0 8px 10px;
  color: #808080;
  font-size: 0.93rem;
}

body > main.main > section.sidebar > .menu > ul.menu-items {
 margin: 0;
 width: 150px;
 padding: 0;
 list-style-type: none;
 display: flex;
 flex-flow: column;
 gap: 10px;
}

body > main.main > section.sidebar > .menu > ul.menu-items > li.item {
  /* border: 1px solid rgb(175, 84, 84); */
  /* width: max-content; */
  padding: 0 10px;
  width: 130px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  color: #404040;
  border-radius: 13px;
}

body > main.main > section.sidebar > .menu > ul.menu-items > li.item > span.text {
  font-family: var(--font-alt);
}

body > main.main > section.sidebar > .menu > ul.menu-items > li.item svg {
  width: 22px;
  width: 22px;
  fill: #404040;
}

body > main.main > section.sidebar > .menu > ul.menu-items > li.item svg path {
  fill: #404040;
}

body > main.main > section.sidebar > .menu > ul.menu-items > li.item.active {
  color: #ffffff;
  font-size: 0.9rem;
  padding: 7px 10px;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  background-color: rgb(247, 145, 162);
}

body > main.main > section.sidebar > .menu > ul.menu-items > li.item.active svg {
  fill: #ffffff;
}

body > main.main > section.sidebar > .menu > ul.menu-items > li.item.active svg path {
  fill: #ffffff;
}