@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sen:wght@400;500;600;700;800&display=swap');

:root {
  --font-alt: 'Plus Jakarta Sans', sans-serif;
  --font-main: 'Sen', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  /* transition: all 0.3s linear; */
}

html {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: var(--font-main);
  width: 100%;
  font-size: 16px;
  background-position: 100%;
  background-size: cover;
  background-size: 1rem 1rem;
  background-color: rgb(248, 249, 250);
  background-image: radial-gradient(circle, rgb(222, 226, 230) 1px, rgba(0, 0, 0, 0) 1px);
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* background-color: transparent; */
  background-color: #ffffff69;
}

.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  position: fixed;
  left: 0;
  height: 0;
  right: 0;
  bottom: 0;
  height:100vh;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

section.logon {
  /* background-color: #ffffff; */
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  padding: 30px 20px;
  width: 500px;
  height: max-content;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.058);
  border-radius: 15px;
  background-position: 100%;
  background-size: cover;
  background-size: 1rem 1rem;
  background-color: #eaf3ff;
  background-image: radial-gradient(circle, rgb(222, 226, 230) 1px, rgba(0, 0, 0, 0) 1px);
}

section.logon > .head {
  /* border: 1px solid #404040; */
  background-color: transparent;
  margin: 0 0 25px 5px;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 0;
}

section.logon > .head > .collapse {
  /* border: 2px solid rgb(175, 84, 84); */
  display: flex;
  align-items: center;
  justify-content: center;
}

section.logon > .head > .collapse > span.house {
  /* border: 2px solid rgb(175, 84, 84); */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}


section.logon > .head > .collapse > span.house > span.line {
  /* border: 1px solid rgb(20, 115, 224); */
  display: none;
  line-height: 1;
  min-height: 2px;
  width: 15px;
  border-radius: 5px;
  background-color: #808080;
}

section.logon > .head > .collapse > span.house > span.line.long {
  width: 23px;
}

section.logon > .head > .logo {
  /* border: 2px solid rgb(175, 84, 84); */
  max-height: max-content;
  position: relative;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: start; */
}

section.logon > .head > .logo  span.bar{
  display: none;
  position: absolute;
  top: calc(50% - 10px);
  /* bottom: 0; */
  right: 0;
  width: 5px;
  height: 20px;
  background:  rgb(223, 121, 26);
  background: linear-gradient(0deg, rgb(223, 121, 26) 0%, rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
  border-radius: 15px;
}

section.logon > .head > .logo  h2{
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: 600;
  color: #404040;
  font-family: var(--font-alt);
}

section.logon > .head > .logo  span.art{
  margin: 0;
  width: 100%;
  color: #808080;
  line-height: 1.2;
  font-family: var(--font-alt);
  letter-spacing: 4px;
  /* font-weight: 500; */
  text-align: center;
}

section.logon > form {
  margin: 0 0 20px 0;
  width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

section.logon > form > .field {
  /*border: 1px solid black;*/
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 2px;
  position: relative;
}

section.logon > form > .field > span.error {
  color: #ee7752;
  font-size: 0.8rem;
  display: none;
}

section.logon > form > .field > span.wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
}
section.logon > form > .field > span.wrapper > span {
  border: 1px solid #80808037;
  border-right: none;
  font-size: 1rem;
  width: 60px;
  padding: 10px 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #08b86f;
  display: flex;
  align-items: center;
}

section.logon > form > .field > input {
  border: none;
  background: transparent;
  border: 1px solid #80808037;
  font-size: 1rem;
  width: 100%;
  outline: none;
  font-family: var(--font-alt);
  padding: 10px 12px;
  border-radius: 12px;
  color: #404040;
  transition: border-color 0.3s ease-in-out;
}

section.logon > form > .field > label {
  color: #666666;
  font-size: 1.1rem;
  font-family: var(--font-alt);
  position: absolute;
  top: 10px;
  left: 15px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

section.logon > form > .field > input:focus {
  border: 1px solid #08b86f60;
}

section.logon > form > .field.focused > label {
  top: -10px;
  font-size: 0.9rem;
  /* background-color: #ffffff; */
  background-color: #eaf3ff;
  padding: 0 5px;
}

section.logon > form > button {
  margin: 20px 0 0 0;
  border: none;
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
  font-family: var(--font-alt);
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: 500;
  color: #404040;
  cursor: pointer;
  padding: 10px 20px 12px;
  background: rgba(57, 56, 56, 0.087);
  background: linear-gradient(0deg, rgba(57, 56, 56, 0.087) 0%, rgba(57, 56, 56, 0.187) 100%);
}