/*

Name: aduki, Inc
Version: 0.1.0
Author: Fredrick Femar Ochieng'
Email: isfescii@gmail.com


*/


@media screen and (max-width: 1150px) {
  body > main.main > header.header {
    border: 2px solid rgb(160, 100, 11);
    padding: 0 5% 0 5%;
  }
  body > main.main > section.landing > .content-one {
    border: 1px solid rgb(55, 201, 11);
    padding: 0 5% 20px 5%;
  }
  
}

@media screen and (max-width: 1100px) {
  
}

@media screen and (max-width: 1000px) {
  body > main.main > header.header {
    border: 2px solid rgb(16, 160, 11);
    padding: 0 20px;
  }
}

@media screen and (max-width: 950px) {


}

@media screen and (max-width: 870px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 500px) {
  
}