@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sen:wght@400;500;600;700;800&display=swap');


@font-face {
  font-family: 'visby_regular';
  src: url('/fonts/visbyroundcf-regular-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'visby_medium';
  src: url('/fonts/visbyroundcf-medium-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'visby_light';
  src: url('/fonts/visbyroundcf-light-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'visby_heavy';
  src: url('/fonts/visbyroundcf-heavy-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'visby_extra_light';
  src: url('/fonts/visbyroundcf-extralight-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'visby_extra_bold';
  src: url('/fonts/visbyroundcf-extrabold-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'visby_demi_bold';
  src: url('/fonts/visbyroundcf-demibold-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-demibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'visby_bold';
  src: url('/fonts/visbyroundcf-bold-webfont.woff2') format('woff2'),
       url('/fonts/visbyroundcf-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --font-alt: 'Plus Jakarta Sans', sans-serif;
  --font-main: 'Sen', sans-serif;
}
* {
  font-family: var(--font-main);
  box-sizing: border-box;
}

html {
  margin: 0;
  width: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(10px); */
}



body > main.main {
  /* border: 2px solid #404040; */
  width: 80%;
  display: flex;
  flex-flow: column;
  gap: 20px;
  z-index: 3;
}

body > main.main > header.header {
  /* border: 2px solid #404040; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  min-height: 50px;
  padding: 30px 0 0 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(3px);
  background-color: #ffffff;
  z-index: 10;
}

body > main.main > header.header > ul.item-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

body > main.main > header.header > ul.item-links >li.item-link {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404040;
  font-size: 1.1rem;
  font-weight: 400;
}

body > main.main > header.header > ul.item-links >li.item-link:hover {
  font-weight: 500;
}

body > main.main > header.header > ul.item-links >li.item-link > a.link {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: inherit;
}

body > main.main > header.header > ul.item-links >li.item-link.active {
  color: #404040;
  position: relative;
  font-weight: 600;
  /* text-transform: uppercase; */
}

body > main.main > header.header > ul.item-links >li.item-link > a > span.dots {
  display: none;
}

body > main.main > header.header > ul.item-links >li.item-link.active > a > span.dots {
  position: absolute;
  width: 30px;
  bottom: -5px;
  left: calc(50% - 15px);
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

body > main.main > header.header > ul.item-links >li.item-link.active > a > span.dots span.dot {
  display: inline-block;
  width: 8px;
  height: 3px;
  background-color: rgb(8, 180, 74);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

body > main.main > header.header > ul.item-links >li.item-link.active > a > span.dots span.dot:nth-of-type(even) {
  background-color: rgb(255, 153, 0);
}

body > main.main > header.header > div.utility {
  /* border: 1px solid #404040; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 5px 10px;
}

body > main.main > header.header > div.utility > span {
  /* border: 1px solid #404040; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

body > main.main > header.header > div.utility > span.search > i {
  font-size: 1.1rem;
  display: inline-block;
  margin: 2px 0 0 0;
  color: rgb(185, 110, 12);
}

body > main.main > header.header > div.utility > span.cart {
  width: 27px;
  height: 27px;
  color: #ffffff;
  position: relative;
  padding: 5px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: rgb(236, 151, 39);
}

body > main.main > header.header > div.utility > span.cart > i {
  font-size: 0.9rem;
  display: inline-block;
  margin: 0 0 1px 0;
}

body > main.main > header.header > div.utility > span.cart > span.items {
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 0;
  display: none;
}

body > main.main > section.content {
  /* border: 1px solid #404040; */
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0 0 0;
  margin: 0 0 70px 0;
}

body > main.main > section.content div.head {
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  display: none;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

body > main.main > section.content div.head h2.title {
  color: #404040;
  margin: 0;
  padding: 0;
}

body > main.main > section.content div.head > ul.collections {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 30px;
}

body > main.main > section.content div.head > ul.collections > li.collection {
  position: relative;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 15px;
  background-color: #f3f3f3;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

body > main.main > section.content div.head > ul.collections > li.collection:hover {
  color: rgb(223, 121, 26);
  background-color: rgb(253, 238, 222);
  cursor: pointer;
}

body > main.main > section.content div.head > ul.collections > li.collection.active {
  color: rgb(223, 121, 26);
  background-color: rgb(253, 238, 222);
}

body > main.main > section.content div.head > ul.collections > li.collection > span.bar {
  display: inline-block;
  width: 25px;
  height: 4px;
  background-color: rgb(223, 121, 26);
  position: absolute;
  bottom: -22px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

body > main.main > section.content div.head > div.filter {
  /* border: 1px solid #808080; */
  display: flex;
}

body > main.main > section.content div.head > div.filter .choice {
  /* border: 1px solid #ce3a3a; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #404040;
  cursor: pointer;
  width: 160px;
  gap: 8px;
  padding: 9px 12px 8px 15px;
  background-color: #f3f3f3;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

body > main.main > section.content > div.categories {
  /* border: 1px solid #404040; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

body > main.main > section.content > div.categories > div {
  /* box-shadow: -0.2em 0.5em 0.5em rgba(221, 221, 221, 0.288); */
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

body > main.main > section.content > div.categories > div.banner.top {
  /* border: 1px solid #404040; */
  height: 120px;
  grid-column: 1/3;
  grid-row: 1/2;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body > main.main > section.content > div.categories > div.banner.top > div.text {
  /* border: 1px solid #404040; */
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

body > main.main > section.content > div.categories > div.banner.top > div.text > h2 {
  margin: 0;
  font-family: 'visby_medium', sans-serif;
  font-size: 1.5rem;
  /* font-family: var(--font-alt); */
  color: #404040;
}

body > main.main > section.content > div.categories > div.banner.top > div.text > a {
  display: inline-block;
  background-color: #ffffffd5;
  padding: 7px 15px;
  text-decoration: none;
  color:  #0004ff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

body > main.main > section.content > div.categories > div.banner.top > div.left-image {
  /* border: 1px solid #404040; */
  position: absolute;
  left: 0;
  width: 250px;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

body > main.main > section.content > div.categories > div.banner.top > div.left-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body > main.main > section.content > div.categories > div.banner.top-second {
  /* border: 1px solid #404040; */
  min-height: 150px;
  max-height: 150px;
  grid-column: 1/3;
  grid-row: 2/4;
  background:  rgb(255, 230, 120);
  padding: 0;
  position: relative;
  display: flex;
  align-items: end;
  height: 100%;
  justify-content: space-between;
}

body > main.main > section.content > div.categories > div.banner.top-second > a.icon {
  display: inline-block;
  text-decoration: none;
  color: #202020;
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #ffffff;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

body > main.main > section.content > div.categories > div.banner.top-second > a.icon svg {
  rotate: -40deg;
  width: 24px;
  height: 24px;
}

body > main.main > section.content > div.categories > div.banner.top-second > div.text {
  /* border: 1px solid #404040; */
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 20px 20px 20px 30px;
  gap: 10px;
  color: #404040;
}

body > main.main > section.content > div.categories > div.banner.top-second > div.text h2 {
  margin: 0;
  padding: 0;
  font-family: 'visby_medium', sans-serif;
  font-size: 1.5rem;
  color: inherit;
}

body > main.main > section.content > div.categories > div.banner.top-second > div.image {
  /* border: 1px solid #404040; */
  padding: 5px 0 0 0;
  margin: 0 1px 0 0;
  width: 200px;
  height: 100%;
}

body > main.main > section.content > div.categories > div.banner.top-second > div.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



body > main.main > section.content > div.categories > div.category.small {
  border: 1px solid #404040;
  height: 190px;
  grid-row: 4/7;
}


body > main.main > section.content > div.categories > div.category.long {
  /* border: 1px solid #404040; */
  max-height: 370px;
  height: 370px;
  grid-column: 3/5;
  grid-row: 1/5;
  background-color: #f8f9f5;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: stretch; */
  overflow: hidden;
}

body > main.main > section.content > div.categories > div.category.long > .dots  {
  /* border: 1px solid #404040; */
  position: absolute;
  bottom: 10px;
  left: calc(50% - 50px);
  display: flex;
  width: 100px;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 4;
}

body > main.main > section.content > div.categories > div.category.long > .dots > span.dot {
  /* border: 1px solid rgba(102,247,113,1); */
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  cursor: pointer;
  /* padding: 2px; */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


body > main.main > section.content > div.categories > div.category.long > .dots > span.dot > span.pick {
  display: inline-block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  width: 9px;
  height: 9px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

body > main.main > section.content > div.categories > div.category.long > .dots > span.dot.active {
  /* border: 1px solid rgb(240, 156, 78); */
  border: 1px solid rgba(102,247,113,1);
}

body > main.main > section.content > div.categories > div.category.long > .dots > span.dot.active:nth-of-type(even) {
  border: 1px solid rgb(255, 163, 77);
}

body > main.main > section.content > div.categories > div.category.long > .dots > span.dot > span.pick {
  background-image: linear-gradient(#464d55, #25292e);
}

body > main.main > section.content > div.categories > div.category.long > .dots > span.dot.active > span.pick {
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  background-color: rgb(247, 145, 162);
}

body > main.main > section.content > div.categories > div.category.long > .dots > span.dot.active:nth-of-type(even)  > span.pick {
   background:  rgb(223, 121, 26);
  background: linear-gradient(0deg, rgb(223, 121, 26) 0%, rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
}


body > main.main > section.content > div.categories > div.category.long > .slide {
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex: 0 0 100%;
  position: relative;
  animation: slide 10s linear infinite;
  /* transition: left 0s 0.75s; */
  -webkit-animation: slide 10s linear infinite;
  transition: transform 1s ease-in-out;
}

body > main.main > section.content > div.categories > div.category.long > .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


body > main.main > section.content > div.categories > div.category.long > .slide > .footer {
  /* border: 1px solid #202020; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 15px 35px 15px;
  /* border-bottom-left-radius: 25px; */
  /* border-bottom-right-radius: 25px; */
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  /* backdrop-filter: blur(1px); */
  background: linear-gradient(180deg, #5e5e5e02, #5e5e5e18, #5e5e5e48, #5e5e5e79);

}


body > main.main > section.content > div.categories > div.category.long > .slide > .footer > .info {
  /* border: 1px solid #202020; */
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

body > main.main > section.content > div.categories > div.category.long > .slide > .footer > .info > p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: var(--font-alt);
  font-size: 1.2rem;
  color: #ffffff;
}

body > main.main > section.content > div.categories > div.category.long > .slide > .footer > .info > span {
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 0.8rem;
}


body > main.main > section.content > div.categories > div.banner.last {
  /* border: 1px solid #404040; */
  background-color: #f8f9f5;
  height: 120px;
  grid-column: 3/5;
  grid-row: 5/7;
  position: relative;
  display: flex;
  align-items: center;
}

body > main.main > section.content > div.categories > div.banner.last > div.text {
  /* border: 1px solid black; */
  padding: 0 0 0 20px;
  display: flex;
  flex-flow: column;
  gap: 0px;
}

body > main.main > section.content > div.categories > div.banner.last > div.text > h2 {
  margin: 0;
  padding: 0;
  font-family: 'visby_medium', sans-serif;
  font-size: 1.5rem;
  /* font-family: var(--font-alt); */
  color: #404040;
}

body > main.main > section.content > div.categories > div.banner.last > div.text > span {
  color: #808080;
  font-size: 0.9rem;
}

body > main.main > section.content > div.categories > div.banner.last > a.icon {
  display: inline-block;
  text-decoration: none;
  color: #202020;
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #ffffff;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

body > main.main > section.content > div.categories > div.banner.last > a.icon svg {
  rotate: -40deg;
  width: 24px;
  height: 24px;
}

body > main.main > section.content > div.categories > div.banner.last > div.image {
  /* border: 1px solid #404040; */
  position: absolute;
  right: 10px;
  width: 250px;
  height: 100%;
  overflow: hidden;
}

body > main.main > section.content > div.categories > div.banner.last > div.image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body > main.main > section.content > div.categories > div.small.wild {
  border: none;
  background-color: #f8f9f5;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  padding: 0 0 30px 0;
}

body > main.main > section.content > div.categories > div.small.wild > a.icon {
  display: inline-block;
  z-index: 2;
  text-decoration: none;
  color: #404040;
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #ffffff;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

body > main.main > section.content > div.categories > div.small.wild > a.icon svg {
  rotate: -40deg;
  width: 24px;
  height: 24px;
}


body > main.main > section.content > div.categories > div.small.wild > a.avail {
  display: inline-block;
  background-color: #ffffff2f;
  font-weight: 500;
  padding: 7px 15px;
  text-decoration: none;
  color:  #ffffff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

body > main.main > section.content > div.categories > div.small.wild > div.image {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

body > main.main > section.content > div.categories > div.small.wild > div.image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/*
Sections
*/

body > main.main > section.content > div.section {
  /* border: 2px solid #404040; */
  width: 100%;
  padding: 0;
  margin: 50px 0 0 0;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

body > main.main > section.content > div.section > div.section-head {
  /* border: 2px solid #404040; */
  display: flex;
  flex-flow: column;
  gap: 0px;
}

body > main.main > section.content > div.section > div.section-head > h2 {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 500;
  font-family: var(--font-alt);
  color: #25292e;
  line-height: 1.5;
}

body > main.main > section.content > div.section > div.section-head > span {
  margin: 0;
  font-size: 0.9rem;
  color: #404040;
}

body > main.main > section.content > div.section > div.content-items {
  /* border: 1px solid #404040; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
}

body > main.main > section.content > div.section > div.content-items > div.shot {
  /* border: 1px solid #404040; */
  background-color: #f8f9f5;
  cursor: pointer;
  min-width: 250px;
  width: 250px;
  min-height: 250px;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: end;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

body > main.main > section.content > div.section > div.content-items > div.shot:hover {
    /*box-shadow: 0.1em 0.1em 0.1em rgb(221, 221, 221);
    */transform: scale(1.02);
    transition: 600ms ease-out;
    -webkit-transition: 600ms ease-out;
    -moz-transition: 600ms ease-out;
    -ms-transition: 600ms ease-out;
    -o-transition: 600ms ease-out;
}


body > main.main > section.content > div.section > div.content-items > div.shot a.author {
  /* border: 1px solid #404040; */
  padding: 20px 10px 15px 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  background: linear-gradient(180deg, #22222207, #2222223a, #22222286, #222222);
  display: none;
  align-items: center;
  justify-content: start;
  gap: 5px;
  z-index: 2;
  flex-wrap: nowrap;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

body > main.main > section.content > div.section > div.content-items > div.shot:hover  a.author {
  display: flex;
}

body > main.main > section.content > div.section > div.content-items > div.shot a.author > img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


body > main.main > section.content > div.section > div.content-items > div.shot > img.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

body > main.main > section.content > div.section.booking {
  /* border: 1px solid #404040; */
  margin: 50px 0 0 0;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

body > main.main > section.content > div.section.booking > div.image-side,
body > main.main > section.content > div.section.booking > div.info-side {
  width: 50%;
}

body > main.main > section.content > div.section.booking > div.info-side {
  display: flex;
  flex-flow: column;
  gap: 25px;
}

body > main.main > section.content > div.section.booking > div.info-side > h2.title {
  margin: 0;
  padding: 0;
  font-family: var(--font-alt);
  color: #25292e;
  font-weight: 500;
  font-size: 2.5rem;
}

body > main.main > section.content > div.section.booking > div.info-side > p {
  margin: 0;
  padding: 0;
  font-family: var(--font-alt);
  color: #25292e;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

body > main.main > section.content > div.section.booking > div.info-side > .actions {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 10px 0 0 0;
}

body > main.main > section.content > div.section.booking > div.info-side > .actions > a{
  /* border: 1px solid #808080; */
  text-decoration: none;
  color: #404040;
  font-family: var(--font-alt);
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

body > main.main > section.content > div.section.booking > div.info-side > .actions > a.learn {
  border: 1px solid #808080;
}

body > main.main > section.content > div.section.booking > div.info-side > .actions > a.book {
  color: #ffffff;
  background:  rgb(223, 121, 26);
  background: linear-gradient(0deg, rgb(223, 121, 26) 0%, rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
}


body > main.main > section.content > div.section.booking > div.image-side {
  /* border: 1px solid #808080; */
  background:  rgb(250, 199, 32);
  margin: 50px 0 0 0;
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

body > main.main > section.content > div.section.booking > div.image-side img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}